.visit-btn {
    font-size: 18px !important;
    width: 130px;
    padding: 8px !important;
    color: white;
    border: none !important;
    background-color: #444444!important;
    border-radius: 50px !important;
    transition: 0.7s;
    text-align: center;
}
.visit-btn:hover {
    text-decoration: none!important;

}